[*.cs]

# CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1724: The type name ComposeBlock conflicts in whole or in part with the namespace name 'tweetz.core.Controls.ComposeBlock'. Change either name to eliminate the conflict.
dotnet_diagnostic.CA1724.severity = none
